#headerbootstrap{
    
    background-color: #222222;
    margin-left: 100px;
    margin-right: 100px;
   font-family:Work Sans;
   font-size: 10PX;
   font-weight: 700;
   color: #a8a8a8;

}
header{
   background-color: #222222;
}

#navItemHeader{
   font-family:Work Sans;
   font-size: 10PX;
   font-weight: 700;
   color: #a8a8a8;
}
.secondheader{
   
display: flex;
}
.SndHI{
   color: aliceblue;
   text-align: center;
   width: 150px;
   border-radius: 2px;
}
